<footer class="text-muted py-5">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#">Subir</a>
        </p>
        <div class="container">
            <p class="mb-1">Hola buenas tardes. Este es un texto de muestra. Su proposito no es informativo sino el de ocupar un lugar.  </p>
            <p class="mb-0"> Hola buenas tardes. Este es un texto de muestra. Su proposito no es informativo sino el de ocupar un lugar. Hola buenas tardes. </p>
        </div>
        </div>
</footer>